@model IEnumerable<QuizApplicationMVC.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<h1>Users List</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th>
                No. of Quizzes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quizzes.Count) <!-- Display count of quizzes -->
                </td>
               
            </tr>
        }
    </tbody>
</table>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid #dee2e6;
        color: white;
    }

    th {
        background-color: #f1f1f1;
    }
</style>
